body {
  text-align: left;
  font-family: Arial;
  font-size: 16px;
}

.inline {
  display: inline-block;
  margin-right: 5px;
}

#editor {
  display: block;
  overflow-wrap: break-word;
  height: 100%;
  width: 50%;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #d5d5d5;
  padding: 5px 5px 5px 5px;
  font-family: monospace;
}

#submit {
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#last_save + #editor {
  margin-top: 10px;
}